{{template "admin" .}}

{{define "content"}}
    <div class="container">
        <button class="btn btn-primary px-4" onclick="enableBoxes(); enableInputs(); enableDragNDrop()">Edit</button>
        <button class="btn btn-success px-4" onclick="updateTeamDrivers(); updateTeamPoints(); showSaveBanner()" id="save-button" hidden>Save</button>

        <div class="alert bg-success mt-4" id="saved-alert" hidden>Saved!</div>

        <div class="row mt-4">
            <div class="col">
                <table class="table table-dark table-striped align-middle">
                    <thead>
                    <tr>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                        <th scope="col">Driver 1</th>
                        <th scope="col">Driver 2</th>
                    </tr>
                    </thead>
                    <tbody id="team-list">
                    </tbody>
                </table>
            </div>

            <div class="col-lg-3">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Reserve Drivers</th>
                    </tr>
                    </thead>
                    <tbody id="driver-list">

                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
        </div>
    </div>
{{end}}

{{define "css"}}
    <style>
        .box {
            border: 1px solid #666;
            background-color: #222;
            border-radius: .3em;
            cursor: move;
            padding: 0.3em 0
        }
        .box.over {
            border: 3px dotted #666;
        }

        .team-name {
            width: 30%
        }
        .team-points {
            width: 25%
        }
        .team-driver1 {
            width: 20%
        }
        .team-driver2 {
            width: 20%
        }
    </style>
{{end}}

{{define "js"}}
    <script src="/static/js/admin/dragndrop.js"></script>
    <script src="/static/js/admin/teams/teams.js"></script>
    <script src="/static/js/admin/teams/buttons.js"></script>

    <script>
        const user_ip = '{{index .StringMap "remote_ip"}}'

        const drivers = JSON.parse('{{index .StringMap "drivers"}}')
        let driver_ids = {'-1': 'No Driver'}
        for (const index in drivers) {
            const driver = drivers[index]
            driver_ids[driver['id'].toString()] = driver['name']
        }
        let driver_names = {}
        for (const index in driver_ids) {
            const driver_name = driver_ids[index]
            driver_names[driver_name] = index.toString()
        }

        const teams = JSON.parse('{{index .StringMap "teams"}}')

        buildTeamTable()
        const reserve_driver_cache = buildDriverTable()

    </script>
{{end}}