{{template "admin" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-dark table-striped align-middle">
                    <thead>
                    <tr>
                        <th scope="col">Teams</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="ferrari">
                            <table class="table table-ferrari text-white">
                                <thead>
                                <tr>
                                    <th scope="col">Ferrari</th>
                                    <th scope="col">DNF</th>
                                    <th scope="col">DNS</th>
                                    <th scope="col">Leader</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Penalty</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><div class="box" draggable="true">Charles Leclerc</div></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="radio"></td>
                                    <td>
                                        <div class="input-group text-right">
                                            <input type="text" class="form-control" placeholder="00">
                                            <span class="input-group-text">:</span>
                                            <input type="text" class="form-control" placeholder="00">
                                            <span class="input-group-text">:</span>
                                            <input type="text" class="form-control" placeholder="000">
                                        </div>
                                    </td>
                                    <td><input type="time"></td>
                                </tr>
                                <tr><td><div class="box" draggable="true">Carlos Sainz</div></td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="redbull">
                            <table class="table table-redbull text-white">
                                <thead>
                                <tr><th scope="col">Red Bull</th></tr>
                                </thead>
                                <tbody>
                                <tr><td><div class="box" draggable="true">Max Verstappen</div></td></tr>
                                <tr><td><div class="box" draggable="true">Sergio Perez</div></td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="Mercedes">
                            <table class="table table-mercedes text-white">
                                <thead>
                                <tr><th scope="col">Mercedes</th></tr>
                                </thead>
                                <tbody>
                                <tr><td><div class="box" draggable="true">Lewis Hamilton</div></td></tr>
                                <tr><td><div class="box" draggable="true">George Russell</div></td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{end}}

{{define "css"}}
    <style>
        nav {
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        }

        .box {
            border: 3px solid #666;
            background-color: #222;
            border-radius: .5em;
            padding: 10px;
            cursor: move;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .box.over {
            border: 3px dotted #666;
        }

        .table-ferrari {
            background-color: #b00;
        }
        .table-redbull {
            background-color: darkblue;
        }
        .table-mercedes {
            background-color: darkcyan;
        }
    </style>

{{end}}

{{define "js"}}
    <script src="/static/js/admin/dragndrop.js"></script>

    <script>
        
    </script>
{{end}}