{{template "admin" .}}

{{define "content"}}
    <div class="container">
        <button class="btn btn-primary px-4" onclick="enableBoxes(); enableInputs(); enableDragNDrop()">Edit</button>
        <button class="btn btn-success px-4" onclick="updateTeamDrivers(); updateTeamPoints(); showSaveBanner()" id="save-button" hidden>Save</button>

        <div class="alert bg-success mt-4" id="saved-alert" hidden>Saved!</div>

        <div class="row mt-4">
            <div class="col">
                <table class="table table-dark table-striped align-middle">
                    <thead>
                    <tr>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                        <th scope="col">Driver 1</th>
                        <th scope="col">Driver 2</th>
                    </tr>
                    </thead>
                    <tbody id="team-list">
                    {{$driverNames := index .Data "driver_names"}}
                    {{range .Teams}}
                        {{$driver1 := index $driverNames .Driver1}}
                        {{$driver2 := index $driverNames .Driver2}}
                        <tr>
                            <td class="team-name align-middle">
                                <div style="border-left: 3px solid {{.Color}}; height: 1.5em; margin: 0 2em">
                                    {{.Name}}
                                </div>
                            </td>
                            <td class="team-points">
                                <input
                                        class="form-control bg-dark border-secondary text-white text-center"
                                        type="number"
                                        value="{{.Points}}"
                                        id="points-{{.ID}}"
                                        disabled
                                >
                            </td>
                            <td class="team-driver1" style="border-left: 2px solid white">
                                <div class="driver-box" id="team-{{.ID}}-driver1">
                                    {{$driver1}}
                                </div>
                            </td>
                            <td class="team-driver2">
                                <div class="driver-box" id="team-{{.ID}}-driver2">
                                    {{$driver2}}
                                </div>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>

            <div class="col-lg-3">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Reserve Drivers</th>
                    </tr>
                    </thead>
                    <tbody id="driver-list">
                    {{$reserveDrivers := index .Data "reserve_drivers"}}
                    {{range $reserveDrivers}}
                        <tr>
                            <td class="driver-name">
                                <div class="driver-box reserve-driver">
                                    {{.}}
                                </div>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
        </div>
    </div>
{{end}}

{{define "css"}}
    <style>
        .box {
            border: 1px solid #666;
            background-color: #222;
            border-radius: .3em;
            cursor: move;
            padding: 0.3em 0
        }
        .box.over {
            border: 3px dotted #666;
        }

        .team-name {
            width: 30%
        }
        .team-points {
            width: 25%
        }
        .team-driver1 {
            width: 20%
        }
        .team-driver2 {
            width: 20%
        }
    </style>
{{end}}

{{define "js"}}
    <script src="/static/js/admin/dragndrop.js"></script>
    <script src="/static/js/admin/teams/teams.js"></script>
    <script src="/static/js/admin/teams/buttons.js"></script>

    <script>
        const user_ip = '{{index .StringMap "remote_ip"}}'
        greyOutNames()

        const driver_names = {
            {{$driverNames := index .Data "driver_names"}}
            {{range $key, $name := $driverNames}}
                '{{$key}}': {{$name}},
            {{end}}
        }
        let driver_ids = {}
        for (const index in driver_names) {
            const driver_id = driver_names[index]
            driver_ids[driver_id] = index.toString()
        }

        const teams = [
            {{range .Teams}}
            {
                'id': {{.ID}},
                'points': {{.Points}},
                'driver1': {{.Driver1}},
                'driver2': {{.Driver2}},
            },
            {{end}}
        ]
        const reserve_driver_cache = [
            {{$reserveDrivers := index .Data "reserve_drivers"}}
            {{range $reserveDrivers}}
            {{.}},
            {{end}}
        ]
        console.log('driver names:', driver_names)
        console.log('driver ids:', driver_ids)

    </script>
{{end}}