{{template "admin" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">Driver</th>
                    <th scope="col">Points</th>
                    <th scope="col">Penalty Points</th>
                </tr>
                </thead>
                <tbody id="driver-list">

                </tbody>
            </table>
        </div>
        
        <div class="row">
        </div>
    </div>
{{end}}

{{define "css"}}
    <style>
        .driver-name {
            width: 50%
        }
        .driver-points {
            width: 25%
        }
        .driver-penalty-points {
            width: 25%
        }
    </style>
{{end}}

{{define "js"}}
    <script src="/static/js/admin/editDrivers/drivers.js"></script>

    <script>
        buildDriverTable()
    </script>
{{end}}