{{template "admin" .}}

{{define "content"}}
    <div class="container">
        <button class="btn btn-primary px-4" onclick="toggleEditTools()">Edit</button>
        <button class="btn btn-success px-4" id="save-button" onclick="saveEdits()" hidden>Save</button>

        <div class="alert bg-success mt-4" id="saved-alert" hidden>Saved!</div>

        <div class="row mt-4">
            <table class="table table-dark table-striped align-middle">
                <thead>
                <tr>
                    <th scope="col">Driver</th>
                    <th scope="col">Points</th>
                    <th scope="col">Penalty Points</th>
                </tr>
                </thead>
                <tbody id="driver-list">

                </tbody>
            </table>
        </div>

        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addDriverModal">Add Driver</button>

        <div class="modal fade" id="addDriverModal" tabindex="-1" aria-labelledby="addDriverModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content bg-dark">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title" id="addDriverModalLabel">Add Driver</h5>
                    </div>
                    <div class="modal-body bg-dark">
                        <label for="add-driver-name">Driver Name</label>
                        <input type="text" class="form-control bg-dark text-white" id="add-driver-name">

                        <div class="alert bg-success mt-3" role="alert" id="add-success" hidden>Added Driver</div>
                    </div>
                    <div class="modal-footer bg-dark">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" onclick="addDriver()">Submit</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="deleteDriverModal" tabindex="-1" aria-labelledby="deleteDriverModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content bg-dark">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title" id="deleteDriverModalLabel">Add Driver</h5>
                    </div>
                    <div class="modal-body bg-dark">
                        <p id="deleteDriverModalText">Are you sure you want to delete driver?</p>
                        <div class="alert bg-danger mt-3" role="alert" id="delete-success" hidden>Deleted Driver</div>
                    </div>
                    <div class="modal-footer bg-dark" id="deleteDriverModalButtons">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "css"}}
    <style>
        .driver-name {
            width: 50%
        }
        .driver-points {
            width: 25%
        }
        .driver-penalty-points {
            width: 25%
        }
    </style>
{{end}}

{{define "js"}}
    <script src="/static/js/admin/drivers/buttons.js"></script>
    <script src="/static/js/admin/drivers/drivers.js"></script>

    <script>
        buildDriverTable()

        const user_ip = '{{index .StringMap "remote_ip"}}'
        const base_url = 'http://localhost:8082/'
    </script>
{{end}}