{{template "base" .}}

{{define "content"}}
    <div class="container">

    </div>
{{end}}

{{define "css"}}

{{end}}

{{define "js"}}
    <script>
        activateNav('nav-grid')
    </script>
{{end}}