{{template "base" .}}

{{define "content"}}
    <div class="container">
        <table class="table table-dark table-striped align-middle">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Team</th>
                <th scope="col">Drivers</th>
                <th scope="col">Penalty Points</th>
            </tr>
            </thead>
            <tbody id="team-list">
            
            </tbody>
        </table>
    </div>
{{end}}

{{define "css"}}
    <style>

        img {
            height: 33px
        }

        p {
            margin: 0
        }

        .team-logo {
            width: 5%
        }
        .team-name {
            font-size: 1.3em;
            font-weight: bold;
        }

    </style>
{{end}}

{{define "js"}}
    <script src="/static/js/public/grid.js"></script>
    
    <script>
        activateNav('nav-grid')

        const teams = JSON.parse('{{index .StringMap "teams"}}')
        const drivers = JSON.parse('{{index .StringMap "drivers"}}')
        let driver_ids = {
            '-1': {
                'name': 'No Driver',
                'penalty-points': 0
            }
        }
        for (const index in drivers) {
            const driver = drivers[index]
            driver_ids[driver['id'].toString()] = driver
        }

        buildGridTable()

    </script>
{{end}}