{{template "base" .}}

{{define "content"}}
    <div class="container rules">
        <h1><strong>LEAGUE RULES</strong></h1>

        <p>First and foremost, keep in mind that this is an amateur racing league and we do not give out prizes to
            winners. We are all doing this for fun. So do not try to push too hard and danger your and others' race and
            spoil the fun. Be patient with your moves and always show respect to your opponent, both when attacking and
            defending. As a wise man once said: <strong><em>"All the time you have to leave a space!"</em></strong></p>

        <div class="accordion mt-4">
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-dark collapsed" data-bs-toggle="collapse"
                            data-bs-target="#stewards">
                        Steward System
                    </button>
                </h2>
                <div id="stewards" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        We have a <strong>Race Steward system,</strong> where we check incidents after the race and
                        decide if additional penalties could be applied.
                        <br>
                        Current race stewards can be found <strong><a href="/staff">here</a></strong>.
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-dark collapsed" data-bs-toggle="collapse"
                            data-bs-target="#races">
                        1. Race Rules
                    </button>
                </h2>
                <div id="races" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Incidents can occur during any race, but reckless driving that causes incidents will be
                        penalized. Causing incidents intentionally will be punished more severely and can lead to Race
                        DSQ or removal from the league.
                        <br>
                        <br>
                        Penalties can range from time penalties, grid penalties, qualifying bans, race bans to removal
                        from the league. Removal of in-game penalties (such as unfair drive-throughs, stop-go penalties,
                        time penalties) will not be possible, as this can influence your position in the race results.
                        <br>
                        <br>
                        <h5>1.1</h5>
                        ⚠️ Passing the car in front under Safety Car is strictly forbidden. Even if the game says "you
                        can pass the driver in front", DO NOT pass the car in front unless they are off the track or
                        completely standing still. Passing the car in front under Safety Car conditions will be
                        considered as "glitching" and drivers will be penalized.
                        <br>
                        <h5>1.2</h5>
                        ⚠️ <strong>"Reset to Track" option is strictly forbidden.</strong> Under any circumstances, you
                        are not allowed
                        to use Reset to Track option, even if there are no cars nearby. If you happen to make a mistake,
                        you are obliged to return to track manually and in a safe manner (after making sure your
                        entrance to the track will not slow down any cars coming from behind). <br>
                        - <strong>1.2a</strong> <br>
                        <p>
                            Drivers who uses the
                            "Reset to Track" functionality will be penalized with <strong>10pp</strong>, and additional
                            penalties could be
                            applied if they affect other drivers.
                        </p>
                        - <strong>1.2b</strong> <br>
                        <p>
                            You can use reset to track during Qualifying, but
                            you will be penalized if you cause another car to slow down.
                        </p>
                        <h5>1.3</h5>
                        ⚠️ If you need to leave the session, you are required to drive your car into the pitlane and
                        retire in the pitlane. Ragequitting (leaving your AI car wandering the track) will be penalized
                        with penalty points. Causing a safety car period by crashing on purpose will have harsher
                        consequences.
                        <br>
                        <h5>1.4</h5>
                        ⚠️ If you are disconnected for a period during the race, keep in mind that you are responsible
                        for the incidents your AI car caused and those incidents will be penalized accordingly.
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-dark collapsed" data-bs-toggle="collapse"
                            data-bs-target="#discord-rules">
                        2. Discord Rules
                    </button>
                </h2>
                <div id="discord-rules" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <h5>2.1</h5>
                        Every driver must maintain a civil tone in Discord channels. A little trash talk is allowed as
                        long as you do not insult or use degrading language towards another driver.
                        <h5>2.2</h5>
                        If you are angry
                        with another drivers actions, you are free to message them privately and discuss it there as you
                        wish, but aggressive altercations or using foul language in Discord channels will not be
                        permitted
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-dark collapsed" data-bs-toggle="collapse"
                            data-bs-target="#penalty-points">
                        3. Penalty Points
                    </button>
                </h2>
                <div id="penalty-points" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        There will also be <strong>penalty points (pp)</strong> to be given to drivers as well as above penalties
                        depending on the situation. Since we are only able to give penalties only after the race, we
                        will take the place finished of the driver in fault in account, as well as what harm the
                        incident has done and at what point of the race it has happened among other factors.
                        <br>
                        <br>
                        <h5>3.1</h5>
                        <ul>
                            <li>Failure to check in: <strong>3pp</strong> </li>
                            <li>Incorrect check in: <strong>3pp</strong></li>
                            <li>Causing a collision (Incident dependant): <strong>5pp-15pp</strong></li>
                            <li>Driving dangerously or unsportsmanlike behaviour: <strong>5pp</strong></li>
                            <li>Overtaking Under Safety Car: <strong>10pp</strong></li>
                            <li>Causing Collision Under Safety Car: <strong>5pp-10pp</strong></li>
                            <li>Bad connection during race, causing difficult racing for others (Incident dependant): <strong>5pp-15pp</strong></li>
                            <li>Excessively abusing the track limits (depending on frequency): <strong>10pp</strong></li>
                            <li>Reset to Track: <strong>10pp</strong></li>
                            <li>Leaving the session, without a valid reason (incidents will be added): <strong>10pp</strong></li>
                            <li>Crashing to wall on purpose (can cause a Safety Car): <strong>20pp</strong></li>
                            <li>Deliberately crashing into another driver: <strong>50pp</strong></li>
                        </ul>
                        <h5>3.2</h5>
                        <ul>
                            <li>If you accumulate <strong>25 points</strong>, you will serve a <strong>qualifying ban.</strong></li>
                            <li>If you accumulate <strong>50 points</strong>, you will serve a <strong>one-race ban.</strong></li>
                            <li>If you accumulate <strong>60 points</strong>, your league position will be put under review.</li>
                        </ul>
                        <h5>3.3</h5>
                        Penalty points will be reset ahead of a new season.
                        <h5>3.4</h5>
                        Throughout the league, there is a big chance you will find your race ruined because of another
                        drivers' fault. Shit happens. The only thing you can do is to report them and they will be
                        penalized accordingly. You have no place in this league if you try to punish them yourself.
                        Causing an incident intentionally and retaliation out of rage will not be permitted and can lead
                        to instant removal from the league without any warnings or penalty points
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-dark collapsed" data-bs-toggle="collapse"
                            data-bs-target="#incidents">
                        4. Raising Incidents
                    </button>
                </h2>
                <div id="incidents" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <h5>4.1</h5>
                        You have <strong>12 hours</strong> after the race to report incidents in <code>#🛑incident-reports</code>
                        channel, using the
                        proper format.
                        <h5>4.2</h5>
                        If you have finished your race, always click on "SAVE FULL RACE REPLAY" option
                        before selecting advance after a race. If you did not finish the race, this option will be
                        unavailable, so I strongly encourage you to download a <strong>video recording software</strong>
                        to ensure you
                        will have video footage to report the incident. <br>
                        <strong><u>Video evidence is mandatory</u></strong> for stewards to give
                        their verdicts on incidents.
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-dark collapsed" data-bs-toggle="collapse"
                            data-bs-target="#attendance">
                        5. Attendance
                    </button>
                </h2>
                <div id="attendance" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <h5>5.1</h5>
                        Drivers will be expected to check in for the league race up to the 30 minute cut off before the
                        session starts. (<strong>20:30 CET</strong>) Any driver who fails to check in will be subject to penalty points.
                        <br>
                        - <strong>5.1a</strong> <br>
                        <p>Only those who have accepted the check-in will receive an invite to the session.</p>
                        - <strong>5.1b</strong> <br>
                        <p>Drivers who DO NOT check in <strong>WILL NOT be invited</strong> to the session even if they are available.</p>
                        - <strong>5.1c</strong> <br>
                        <p>If a driver declines and cannot attend they will not receive penalty points.</p>
                        - <strong>5.1d</strong> <br>
                        <p>If a driver is tentative and doesn't know if they will be able to attend we will assume they
                            will not be able to attend, unless they change their check in. They will have up to the 30
                            minute cut off to change their decision.</p>
                        - <strong>5.1e</strong> <br>
                        <p>The remaining open positions will be offered to reserve drivers at 20:30 CET to give them the
                            opportunity to prepare for the session.</p>
                        <h5>5.2</h5>
                        Punctuality will be important. <strong>Sessions will start at 21:00 CET</strong>. Unless there are exceptional
                        circumstances, drivers who are late to the lobby will miss the session and will be subject to
                        penalty points. If you miss multiple races, your position as a driver may be reviewed, and you
                        face the possibility of being replaced by a more active driver.
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "css"}}
    <style>
        h5 {
            margin-top: 1em;
            margin-bottom: 0.5em;
            font-weight: bold;
        }

        p {
            padding: 0 2em;
        }

        .accordion-body {
            font-family: Arial, serif;
            text-align: left;
        }

        .accordion-item {
            border: 2px solid #1d2024;
        }

        .accordion-button {
            color: white;
        }

        .accordion-button.collapsed::after {
            filter: invert(100%);
        }

        .accordion-button:focus {
            box-shadow: inherit;
        }
    </style>
{{end}}

{{define "js"}}
    <script>
        activateNav('nav-rules')
    </script>
{{end}}