{{template "base" .}}


{{define "content"}}

{{ $roles := .Roles }}
{{ $allStaff := .Staff }}

    <div class="container">
        {{range $role := $roles}}
        <div class="hr-divider">
            {{if eq $role.ID 1}}
            {{else}}
                <hr>
                <span>{{$role.Name}}</span>
            {{end}}
            <div class="row justify-content-center pt-3">
                {{range $staff := $allStaff}}
                {{if eq $staff.Role.ID $role.ID}}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="col avatar">
                        <img src="{{$staff.ImagePath}}">
                    </div>
                    <h2>{{$staff.Name}}</h2>
                    {{if eq $role.ID 1}}
                    <h5>{{$role.Name}}</h5>
                    {{end}}
                    <p>{{$staff.Title}}</p>
                </div>
                {{end}}
                {{end}}
            </div>

        </div>
        {{end}}
    </div>
{{end}}

{{define "css"}}
    <style>
        .avatar img {
            width: 128px;
            height: 128px;
            border-radius: 50%;
        }

        p {
            margin: 0.5em 0;
            color: #aaa;
        }

        .hr-divider {
            padding: .5em 0 2em 0;
        }

        .hr-divider hr {
            position: relative;
            top: 1.75em;
            background: linear-gradient(to right, transparent, lightgray, transparent);
        }

        .hr-divider span {
            position: relative;
            color: #595c5f;
            padding: 0 20px;
            background: #212529;
        }
    </style>
{{end}}

{{define "js"}}
    <script>
        activateNav('nav-staff')
    </script>
{{end}}