{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="driver-standings col">
                <table class="table table-dark table-striped align-middle">
                    <thead>
                    <tr>
                        <th scope="col">Pos.</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Driver</th>
                        <th scope="col">Points</th>
                    </tr>
                    </thead>
                    <tbody id="driver-standings">
                    </tbody>
                </table>
            </div>

            <div class="team-standings col">
                <table class="table table-dark table-striped align-middle">
                    <thead>
                    <tr>
                        <th scope="col">Pos.</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                    </tr>
                    </thead>
                    <tbody id="team-standings">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{end}}

{{define "css"}}

    <style>
        table img {
            width: 40px;
            height: 40px;
        }

        table {
            width: 50%
        }

        .driver-pos {
            width: 5%
        }
        .driver-team-logo {
            width: 5%
        }
        .driver-name {
            text-align: left;
        }
        .driver-points {
            width: 10%
        }

        .team-pos {
            width: 5%
        }
        .team-logo {
            width: 5%
        }
        .team-name {
            text-align: left;
        }
        .team-points {
            width: 10%
        }

        .driver-standings {
            border-right: 1px solid lightgray;
            height: 500px;
        }
        .team-standings {
            border-left: 1px solid lightgray;
            height: 500px;
        }

        .driver-team-color {
            width: 3px
        }
        .team-color {
            width: 3px
        }

        /*.color-ferrari {*/
        /*    border-left: 3px solid red;*/
        /*    height: 2em;*/
        /*}*/
        /*.color-red-bull-racing {*/
        /*    border-left: 3px solid darkblue;*/
        /*    height: 2em;*/
        /*}*/
        /*.color-mercedes {*/
        /*    border-left: 3px solid darkturquoise;*/
        /*    height: 2em;*/
        /*}*/
        /*.color-alpine {*/
        /*    border-left: 3px solid deepskyblue;*/
        /*    height: 2em;*/
        /*}*/
        /*.color-haas-f1-team {*/
        /*    border-left: 3px solid white;*/
        /*    height: 2em;*/
        /*}*/
        /*.color-alfa-romeo {*/
        /*    border-left: 3px solid darkred;*/
        /*    height: 2em;*/
        /*}*/
        /*.color-alphatauri {*/
        /*    border-left: 3px solid darkslategray;*/
        /*    height: 2em;*/
        /*}*/
        /*.color-mclaren {*/
        /*    border-left: 3px solid orange;*/
        /*    height: 2em;*/
        /*}*/
        /*.color-aston-martin {*/
        /*    border-left: 3px solid teal;*/
        /*    height: 2em;*/
        /*}*/
        /*.color-williams {*/
        /*    border-left: 3px solid dodgerblue;*/
        /*    height: 2em;*/
        /*}*/

    </style>

{{end}}


{{define "js"}}

    <script src="/static/js/standings/standings.js"></script>

    <script>
        activateNav('nav-standings')

        const teams = JSON.parse({{index .StringMap "teams"}})
        const drivers = JSON.parse({{index .StringMap "drivers"}})

        for (const team_name in teams) {
            const team = teams[team_name]
            for (const index in team["driverIDs"]) {
                const driver_id = team["driverIDs"][index]
                drivers[driver_id]["team"] = team_name
                drivers[driver_id]["team_abr"] = team['abr']
            }
        }
        
        buildDriverStandings()
        buildTeamStandings()
    </script>

{{end}}