{{template "base" .}}

{{define "content"}}

    <div class="container">
        {{$teamColors := index .Data "team_colors"}}
        <div class="row">
            <div class="driver-standings col" id="driver-standings-div">
                <table class="table table-dark table-striped align-middle">
                    <thead>
                    <tr>
                        <th scope="col">Pos.</th>
                        <th scope="col"></th>
                        <th scope="col" style="text-align: left">Driver</th>
                        <th scope="col">Points</th>
                    </tr>
                    </thead>
                    <tbody id="driver-standings">

                    {{range $index, $driver := .Drivers}}
                        {{$teamColor := index $teamColors $driver.TeamID}}
                        {{if ne $driver.ID -1}}
                        <tr>
                            <th class="driver-pos">{{add $index 1}}</th>
                            <td class="driver-team-color">
                                {{if eq $driver.TeamID -1}}
                                    <div style="border-left: 3px dotted white; height: 2em"></div>
                                {{else}}
                                    <div style="border-left: 3px solid {{$teamColor}}; height: 2em"></div>
                                {{end}}
                            </td>
                            <td class="driver-name">{{$driver.Name}}</td>
                            <td class="driver-points">{{$driver.Points}}</td>
                        </tr>
                        {{end}}
                    {{end}}

                    </tbody>
                </table>
            </div>

            <div class="team-standings col" id="team-standings-div">
                <table class="table table-dark table-striped align-middle">
                    <thead>
                    <tr>
                        <th scope="col">Pos.</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col" style="text-align: left">Team</th>
                        <th scope="col">Points</th>
                    </tr>
                    </thead>
                    <tbody id="team-standings">

                    {{range $index, $team := .Teams}}
                        <tr>
                            <th scope="row" class="team-pos">{{add $index 1}}</th>
                            <td class="team-logo">
                                <img src="/static/images/team_logos/{{$team.Abbreviation}}.png" alt="{{$team.Abbreviation}}">
                            </td>
                            <td class="team-color"><div style="border-left: 3px solid {{$team.Color}}; height: 2em"></div></td>
                            <td class="team-name">{{$team.Name}}</td>
                            <td class="team-points">{{$team.Points}}</td>
                        </tr>
                    {{end}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{end}}

{{define "css"}}

    <style>
        table img {
            height: 36px;
        }

        table {
            width: 50%
        }

        .driver-pos {
            width: 5%
        }
        .driver-name {
            text-align: left;
        }
        .driver-points {
            width: 10%
        }

        .team-pos {
            width: 5%
        }
        .team-logo {
            width: 5%
        }
        .team-name {
            text-align: left;
        }
        .team-points {
            width: 10%
        }

        .driver-team-color {
            width: 3px
        }
        .team-color {
            width: 3px
        }

    </style>

{{end}}


{{define "js"}}

    <script>
        activateNav('nav-standings')

        const is_mobile = window.matchMedia("only screen and (max-width: 768px)").matches

        if (!(is_mobile)) {
            const border_style = '1px solid lightgray'
            document.getElementById('driver-standings-div').style.borderRight = border_style
            document.getElementById('team-standings-div').style.borderLeft = border_style
        }
    </script>

{{end}}